  body { 
            margin:0;
            padding:0;
            background: url(../IMG_4892.JPG) no-repeat ; 
            -webkit-background-size: cover; /* pour anciens Chrome et Safari */
            background-size: cover; /* version standardisée */
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
          }
          .divv {
              height: 580px;
              margin: 35px 63px 0 0 !important;
              width: 590px;
              background-color: white;
              float: right;
             }
           
            .glyphicon {
                font-size: 25px;
              
            }
            .hr_active {
                border: 2px solid orange;
            }
             .hr_inactive{
                border-color: #8c8c8c;
            }
            
             .span3 {
                width: 270px;
                margin: 500px; 
              }
            .row-fluid .span3 {
                width: 20.404255319148934%;
                *width: 20.351063829787233%;
              }
            input.span3,
                textarea.span3,
                .uneditable-input.span3 {
                  width: 256px;
                } 
            .table td.span3,
                .table th.span3 {
                  float: none;
                  width: 204px;
                  margin-left: 0;
                }
            .page-header h1 small {
                display: block;
                line-height: 20px;
              }
              
              
.tiny {
    float: left;
    margin:20px 0;background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAIfP378zwjjgzj8/PyMYAEYB8RmROaABAAVMg/XkcvroQAAAABJRU5ErkJggg==   ) repeat;

    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	border:1px solid #14937a;
	border-bottom:10px solid #14937a;
    
}

.small {
	margin:0 auto;
	background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAIfP378zwjjgzj8/PyMYAEYB8RmROaABAAVMg/XkcvroQAAAABJRU5ErkJggg==   ) repeat;

    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	border:1px solid #cd8109;
    
}

.medium {
    margin:0 auto;background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAIfP378zwjjgzj8/PyMYAEYB8RmROaABAAVMg/XkcvroQAAAABJRU5ErkJggg==   ) repeat;

    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	border:1px solid #a12f23;

    
}

.pro {
	margin:0 auto;background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAIfP378zwjjgzj8/PyMYAEYB8RmROaABAAVMg/XkcvroQAAAABJRU5ErkJggg==   ) repeat;

    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	border:1px solid #1d6391;

    
}

.pricing-table strong { color: #3d3d3d; }

.pricing-table-header-tiny {
    padding: 5px 0 5px 0;
    background: #16a085;
	border-bottom:10px solid #14937a;
}

.pricing-table-header-small {
    padding: 5px 0 5px 0;
    background: #f39c12;

}

.pricing-table-header-medium {
    padding: 5px 0 5px 0;
    background: #c0392b;

}

.pricing-table-header-pro {
    padding: 5px 0 5px 0;
    background: #2980b9;
}

.pricing-table-header-tiny h2, .pricing-table-header-small h2, .pricing-table-header-medium h2, .pricing-table-header-pro h2 {  font-weight: 700; color:#FFF; }
.pricing-table-header-tiny h3, .pricing-table-header-small h3, .pricing-table-header-medium h3, .pricing-table-header-pro h3 { font-weight: 500; color:#FFF;  }


.pricing-table-text {
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 16px;
    color: #888;
}

.pricing-table-features {
    margin: 15px 10px 0 10px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px dashed #888;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #888;
}

.pricing-table-signup-tiny {
    margin-top: 25px;
    padding-bottom: 10px;
}

.pricing-table-signup-tiny a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #16a085;
    line-height: 50px;
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.pricing-table-signup-tiny a:hover {
    text-decoration: none;
    background: #14937a;
	color: #fff;

  
}

.pricing-table-signup-tiny a:active {
    background: #14937a;
	color: #fff;
}


.pricing-table-signup-small {
    padding-bottom: 10px;
}

.pricing-table-signup-small a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #f39c12;
    line-height: 50px;
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
   
}

.pricing-table-signup-small a:hover {
    text-decoration: none;
	background-color:#cd8109;
	color: #fff;
}

.pricing-table-signup-small a:active {
    background-color:#cd8109;
	color: #fff;

}

.pricing-table-signup-medium {
    padding-bottom: 10px;
}

.pricing-table-signup-medium a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #c0392b;
    line-height: 50px;
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
   
}

.pricing-table-signup-medium a:hover {
    text-decoration: none;
	background-color:#a12f23;
	color:#FFF;
}

.pricing-table-signup-medium a:active {
    background-color:#a12f23;
	color: #fff;

}

.pricing-table-signup-pro {
    padding-bottom: 10px;
}

.pricing-table-signup-pro a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #2980b9;
    line-height: 50px;
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.pricing-table-signup-pro a:hover {
    text-decoration: none;
	background-color:#1d6391;
	color: #fff;
	}

.pricing-table-signup-pro a:active {
    background-color:#1d6391;
	color: #fff;

}


/****************************************************18-04-2016********************************************************/	

.mrlbody{margin-left:120px;}
.bgcontant{background:url(../images/unnamed.png)  no-repeat; background-size:cover; margin-top: 30px; min-height: 570px;}




/* #Base 960 Grid
================================================== */

    /* Note: Design for a width of 960px */

    @media only screen and (min-width: 960px) and (max-width: 1024px) {
		.mrlbody{margin-left:0;}
	

	
	}
	

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {	
	.mrlbody{margin-left:0;}
	

	}
	

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {

	.mrlbody{margin-left:0;}
	.bgcontant{margin-top: 200px; padding:0 0 20px 0;}
	.xs-nopadding{padding:0 5px;}
	}


    @media only screen and (max-width: 479px) {
	
	.mrlbody{margin-left:0;}
	.bgcontant{margin-top: 200px; padding:0 0 20px 0;}
	.xs-nopadding{padding:0 5px;}

	}




         